button {
    margin: 20px;
}

.hover-button {
    background: lightcoral;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    outline: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    transition: .2s;
}

.hover-button:hover {
    transform: scale(0.985);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3)
}

.hover-button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    transition: .05s;
}